<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - megan_mayle</title>
    
@*    <meta name="description" content='@(ViewBag.Excerpt ?? "We do one thing and we do it well. We build software. Customized solutions to help your solve your organizations problems and reach your business goals. We are TeamVirtuoso.")'>*@
    <link rel="shortcut icon" href="/favicon2.png" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>    
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/utilities.css" />
    <link rel="stylesheet" href="~/css/resets.css" />
    <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">

</head>
<body>

<div class="navbar navbar-inverse navbar-admin">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div><a asp-controller="Home" asp-action="Index" class="navbar-brand">Megan Mayle</a></div>
            <div class="header">Admin Section</div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-controller="Admin" asp-action="Index">Home</a></li>
                <li><a asp-controller="Admin" asp-action="PostList">Blog</a></li>
                <li><a asp-controller="Admin" asp-action="PostCreate">New Post</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container content-admin body-content">
    @Html.Partial("_ActionNotice")
    @RenderBody()

</div>
<footer>
    <p>&copy; Megan Mayle 2017</p>
</footer>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/moment.js"></script>
<script src="/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
        if ( $( "form #Body" ).length ) {
            var simplemde = new SimpleMDE({
                autosave: {
                    enabled: true,
                    uniqueId: "tv_editor",
                    delay: 1000,
                    element: $("#Body")[0]
                }
            });
        }

    });
</script>
@RenderSection("scripts", required: false)
</body>
</html>
