@model megan_mayle.ViewModels.PostDisplay

@{
    ViewBag.Excerpt = Model.Excerpt;
}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                    <article>
                        <h2>@Model.Title</h2>
                        <div class="dark-gray">
                            <span class="author_name">
                                @Model.DatePosted.ToString("MMM dd, yyyy")
                            </span>
                            <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                            <span class="author_name">
                                Megan Mayle
                            </span>
                        </div>
                        @if (!string.IsNullOrEmpty(@Model.ImageUrl))
                        {
                            <img src="@Model.ImageUrl" class="width-50"/>
                        }
                        <p>@Html.Raw(Model.Markdown)</p>
                    </article>
                <div id="disqus_thread"></div>
            </div>
        </div>
    </div>
</div>

<script>
    var disqus_config = function () {
        this.page.url = 'http://teamvirtuoso.com/blog/@Model.Slug';  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = '@Model.Slug'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function () { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//teamvirtuoso.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>